[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
djangorestframework = "*"
gunicorn = "*"
django-crispy-forms = "*"
"boto3" = "*"
django-storages = "*"
social-auth-app-django = "*"
django-environ = "*"
"psycopg2-binary" = "==2.8.5"
python-dotenv = "*"

[dev-packages]
django = "*"
pylint = "*"

[requires]
python_version = "3.6"
