{% extends 'base.html' %}
{% load static %}

{% block title%}
Room Detail
{% endblock title%}

{% block content %}
<h1>Room Detaail Page</h1>

<h2>{{ room.title }}</h2>
<h2>{{ room.address }}</h2>
<h2>{{ room.latitude }}</h2>
<h2>{{ room.longitude }}</h2>
<h2>{{ room.description }}</h2>
<h2>{{ room.price }}</h2>

<h2>{{ room.has_laundry }}</h2>
<h2>{{ room.has_fridge }}</h2>
<h2>{{ room.has_wifi }}</h2>
<h2>{{ room.movein_date }}</h2>

<h2>{{ room.created_on }}</h2>

{% for image in images %}
    <img src="{{image.image.url}}"/>
{% endfor %}

{% endblock content %}